openapi: '3.0.0'
info:
  version: 2.0.0
  title: 4Wings Tiler API
  description: |
    4Wings Tiler API
    ## Authorization

    This API requires an API key to use. The key should be included in the `Authorization` header of all requests to the API. Example: `Authorization: Bearer <token>`
servers:
  - url: https://gateway.api.globalfishingwatch.org

paths:
  '/v2/tilesets/':
    get:
      summary: |
        Supported tilesets
      description: |
        Obtains a list of all the supported tilesets for which individual tiles
        may be requested in this API.
      responses:
        '200':
          $ref: '#/components/responses/TilesetsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableErrorResponse'

  '/v2/tileset/{tileset}/tile':
    get:
      summary: |
        Obtains a tile
      description: |
        Obtains a Google Maps Tile for a given tileset.
      parameters:
        - name: tileset
          in: path
          description: |
            Name of the tileset to request tiles from. Check the list of
            possible values with the `/v2/tilesets` endpoint.
          required: true
          schema:
            type: string
        - in: query
          description: Zoom level (from 0 to 12)
          required: true
          name: z
          example: 0
          schema:
            type: number
        - in: query
          description: X index (lat) of the tile
          required: true
          name: x
          example: 0
          schema:
            type: number
        - in: query
          description: Y index (lon) of the tile
          required: true
          name: "y"
          example: 0
          schema:
            type: number
      responses:
        '200':
          $ref: '#/components/responses/TileResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableErrorResponse'
components:

  responses:

    #-------------------------------
    # Reusable Errors Responses
    #-------------------------------

    NotContentResponse:
      description: No Content.
      content:
        application/json:
          schema:
            type: object

    UnauthorizedErrorResponse:
      description: No Unauthorized.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 401
              error:
                type: string
                example: Unauthorized
              messages:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorDetails'

    ForbiddenErrorResponse:
      description: You do not have permissions to do the action.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 403
              error:
                type: string
                example: Forbidden
              messages:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorDetails'

    NotFoundErrorResponse:
      description: Resource not found.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 404
              error:
                type: string
                example: NotFound
              messages:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorDetails'

    UnprocessableEntityErrorResponse:
      description: Unprocessable Entity. Validation error.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 412
              error:
                type: string
                example: UnprocessableEntity
              messages:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorDetails'

    ServiceUnavailableErrorResponse:
      description: Service Unavailable.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 503
              error:
                type: string
                example: Service Unavailable
              messages:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorDetails'


    #-------------------------------
    # Not reusable schemas
    #-------------------------------
    TilesetsResponse:
      description: Create an temporal table
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TilesetsResponse'
    
  
    TileResponse:
      description: Tile response
      content:
        image/png:
          schema:
            $ref: '#/components/schemas/TileResponse'
        
   
   
  #-------------------------------
  # Reusable schemas (data models)
  #-------------------------------

  schemas:
  
    #
    # Tile
    #      
    TileResponse:
      type: object
      format: binary

    ErrorDetails:
      type: object
      properties:
        title:
          type: string
        detail:
          type: string
    
    TilesetsResponse:
      type: array
      items:
        type: string
      
                
              

